.sortable-swap-highlight {
    background-color: rgba(125, 125, 125, 0.3) !important;
}
.sortable-list.empty-list {
    min-height: 8rem; /* Adjust the value as needed */
    /* Optional: add a border to visualize the drop area */
    border: 1px dashed #ccc; 
}
.list-group {
    height: 7rem;  /* matches h-28 */
    min-height: 7rem; /* matches the h-28 */
    display: flex;
    flex-wrap: wrap;
    gap: 0.12rem;
}
.list-group:empty {
    height: 7rem;
    min-height: 7rem;
}